@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=fallback');
// Additional styles
@import './additional-styles/utility-patterns.scss';
@import './additional-styles/range-slider.scss';
@import './additional-styles/toggle-switch.scss';
@import './additional-styles/flatpickr.scss';
@import './additional-styles/theme.scss';
@import './datatables.scss';
// See Alpine.js: https://github.com/alpinejs/alpine#x-cloak
[x-cloak] {
    display: none;
}
@media screen and (max-width: theme('screens.lg')) {
    [x-cloak="lg"] { display: none; }
}
.text-primary {
    color: var(--primary-color)
}
.text-primary-200 {
    color: var(--primary-color);
}
.text-primary-300 {
    color: var(--primary-color);
}
.bg-primary-300 {
    background-color: var(--primary-color);
}
.bg-primary {
    background-color: var(--primary-color);
    color: var(--primary-color-text);
}
.border-primary {
    border-color: var(--primary-color);
}
